.FormRegister{
    h3{
            margin: 2rem 1rem 0;
        }
    form{
        
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
    div{
        margin: 1rem;
    }
    button{
        margin: 1rem;
    }
    }

}